<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:uses-permissionandroid="http://schemas.android.com/tools"
    package="com.shssjk.activity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />


    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc.hce" />


    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCAR" />


    <application
        android:name="com.shssjk.global.MobileApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.shssjk.MainActivity"
            android:label="@string/title_activity_main2"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <uses-library
            android:name="org.simalliance.openmobileapi"
            android:required="false" />

        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.unionpay.UPPayWapActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />


        <activity android:name=".common.user.LoginActivity" />
        <activity
            android:name=".common.PersonInfoActivity"
            android:label="@string/title_activity_person_info" />
        <activity
            android:name=".common.shop.CategoryActivity"
            android:label="@string/title_activity_category" />
        <activity
            android:name=".common.shop.ShopCartActivity"
            android:label="@string/title_activity_shop_cart" />
        <activity
            android:name=".common.shop.ProductListActivity"
            android:label="@string/title_activity_product_list" />
        <activity android:name=".common.shop.SearchCommonActivity" />
        <activity android:name=".common.shop.ProductListSearchResultActivity" />
        <activity android:name=".common.shop.ProductActivity" />
        <activity android:name=".common.shop.ConfirmOrderActivity" />
        <activity android:name=".common.shop.ConsigneeAddressListActivity" />
        <activity android:name="com.shssjk.person.address.SPConsigneeAddressEditActivity" />
        <activity android:name="com.shssjk.person.address.SPCitySelectActivity" />
        <activity android:name=".common.shop.AvailableCouponActivity" />
        <activity android:name=".common.shop.PayListActivity" />
        <activity android:name=".common.shop.CollectListActivity" />
        <activity android:name=".common.person.SettingActivity" />
        <activity android:name=".common.person.HelpActivity" />
        <activity android:name=".common.person.AboutActivity" />
        <activity android:name=".common.person.UserDetailsActivity" />
        <activity android:name=".common.shop.OrderListActivity" />
        <activity
            android:name=".common.shop.OrderBaseActivity"
            android:label="@string/title_activity_order_base" />
        <activity android:name=".common.user.RegisterActivity" />
        <activity android:name=".common.user.ForgetPwdActivity" />
        <activity android:name=".common.user.ChangePasswordActivity" />
        <activity android:name=".common.user.MyMessageActivity" />
        <activity android:name=".common.shop.OrderDetailActivity" />
        <activity
            android:name=".common.information.ArticleDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".common.information.ArticleSearchActivity" />
        <activity android:name=".common.community.QuackListActivity" />
        <activity android:name=".common.community.ComArticleListActivity" />
        <activity android:name=".common.community.ComMyArticleListActivity" />
        <activity
            android:name=".common.community.ComArticleDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".common.community.SchoolDetailActivity" />
        <activity android:name=".common.community.MySchoolActivity" />
        <activity android:name=".common.community.MyQuackListActivity" />
        <activity android:name=".common.community.AddComArticleActivity" />
        <activity android:name=".common.community.AddSchoolActivity" />
        <activity android:name="com.shssjk.capture.CaptureActivity" />
        <activity android:name=".common.community.ComUserListActivity" />
        <activity android:name=".common.community.ComCheckUserListActivity" />
        <activity android:name=".common.health.BindDeviceActivity" />
        <activity android:name=".common.shop.OrderWaitcommentActivity" />
        <activity android:name=".common.shop.OrderReturnedActivity" />
        <activity android:name=".common.user.MyTeamActivity" />
        <activity android:name=".common.user.CouponListActivity" />
        <activity android:name="com.zbar.lib.CaptureActivity" />
        <activity android:name=".common.shop.BeforPayActivity"></activity>
    </application>

</manifest>
